

.App {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  display: flex;
  line-height: 3rem;

  justify-content: center;
  align-items: center;

  letter-spacing: 1.2px;
  
}

.sizer-box{
  display: flex; 
  flex-direction: row;
  width: 400px;
}

input{
  width: 100%;
  margin-bottom: 30px;
}

span{width: 100%;}   

.box{
 
  width: 200px;
  display: flex;  
  flex-direction: column;
  
  text-align: center;

  justify-content: center;
  align-items: center;

}

.right{
  margin-top: 32px;
}

sub{
  font-size: 1.7rem;
  letter-spacing: 3px;
  padding: 5%;
}



